<h1>Welcome to your tutor dashboard!</h1>

<div class="tutoring">
  <h2>Your tutees</h2>
  <% if ((@forename == ("First Name") || @surname == "Surname") || @description == nil )%>
  <%= puts("Forename #{@forename} surname #{@surname} description #{@description}")%>
    <h5> Complete your profile so you can start tutoring. </h5>
    <button type="button" name="button" class = "btn"><a href="setInfo">Complete my Profile</a></button>
  <% elsif @location != "(0.0, 0.0)"%>
    <%= puts("Forename #{@forename} surname #{@surname} description #{@description}")%>
  <h5> Your student requests</h5>
    <%= puts("tutor #{current_tutor.id}")%>
    <ul>
   <% @students = Student.where(tutor_id: current_tutor.id, tutor_confirmed: false)
      @students.each do |student| %>

   <li><h6><%= student["forename"] %> &nbsp; <%= student["surname"] %>
     <%=button_to "Accept", {action: "acceptStudent", params: {:student_id => student["id"]}}, {class: 'btn'} %>
   <%=button_to "Reject", {action: "rejectStudent", params: {:student_id => student["id"]}}, {class: 'btn'} %></h6></li>
 <%  end %>
 </ul>
 <h5>Your confirmed students</h5>
 <ul>
 <% @students = Student.where(tutor_id: current_tutor.id, tutor_confirmed: true)
    @students.each do |student| %>
 <li><h6><%= student["forename"] %> &nbsp; <%= student["surname"] %>
   <%=button_to "Contact", {action: "messages", params: {:student_id => student["id"]}}, {class: 'btn'} %>
 </h6></li>
<%  end %>
</ul>

</ul>
  <% else %>
      <p>Set a location so you can start tutoring.</p>
      <p></p>
      <button type="button" name="button" class = "btn"><a href="setLocation">Set my Location</a></button>
  <% end %>
</div>

<div>
  <h2> View your students quiz submissions </h2>
  <button class = "btn"><a href="submissions">View Submissions</a></button>

</div>
