<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="meetingForm">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="meetingForm">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

   <div class="meetingForm">
    <%#= form.label :tutor_id %>
    <%#= form.text_field :tutor_id %>
  </div>

  <div class="meetingForm">
    <%#= form.label :student_id %>
    <%#= form.text_field :student_id %>
  </div>

  <div class="meetingForm">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="meetingForm">
    <%= form.label :startDateTime %>
    <%= form.datetime_select :startDateTime %>
  </div>

  <div class="meetingForm">
    <%= form.label :endDateTime %>
    <%= form.datetime_select :endDateTime %>
  </div>

  <div class="meetingForm">
    <%#= form.label :student_accepted %>
    <%#= form.check_box :student_accepted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
