<%= form_with(model: improvement, local: true) do |form| %>
  <% if improvement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(improvement.errors.count, "error") %> prohibited this improvement from being saved:</h2>

      <ul>
      <% improvement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if tutor_signed_in? %>

  <div class="field">
    <%= form.label :listening %>
    <%= form.text_field :listening %>
  </div>

  <div class="field">
    <%= form.label :writing %>
    <%= form.text_field :writing %>
  </div>

  <div class="field">
    <%= form.label :reading %>
    <%= form.text_field :reading %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :request %>
    <%= form.text_field :request %>

  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
