<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @improvement.student %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @improvement.tutor %>
</p>

<p>
  <strong>Listening:</strong>
  <%= @improvement.listening %>
</p>

<p>
  <strong>Writing:</strong>
  <%= @improvement.writing %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @improvement.reading %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @improvement.reading %>
</p>

<%= link_to 'Edit', edit_improvement_path(@improvement) %> |
<%= link_to 'Back', improvements_path %>
