<header>
  <%= image_tag("beesmart_logo.png", class: "logo") %>
  <nav id="navbar">
    <table align="center" >
      <% if student_signed_in? %>
        <tr> <th> Students </th> </tr>
        <tr>
          <td>
            <%= "#{current_student.email} |" %>
            <%= link_to t('shared.header.dashboard'), authenticated_student_root_path %>
            <%= '|' %>
            <%= link_to t('shared.header.profile'), authenticated_student_profile_path %>
            <%= '|' %>
            <%= link_to t('shared.header.logout'), destroy_student_session_path, method: 'delete' %>
          </td>
        </tr>
      <% elsif tutor_signed_in? %>
        <tr>  <th> Tutors </th> </tr>
        <tr>
          <td>
            <%= "#{current_tutor.email} |" %>
            <%= link_to t('shared.header.dashboard'), authenticated_tutor_root_path %>
            <%= '|' %>
            <%= link_to t('shared.header.profile'), authenticated_tutor_profile_path %>
            <%= '|' %>
            <%= link_to t('shared.header.logout'), destroy_tutor_session_path, method: 'delete' %>
          </td>
        </tr>
        <% elsif admin_signed_in? %>
          <tr>  <th> Admin </th> </tr>
          <tr>
            <td>
              <%= link_to t('shared.header.dashboard'), admin_home_url %>
                          <%= '|' %>
              <%= link_to t('shared.header.logout'), destroy_admin_session_path, method: 'delete' %>
            </td>
          </tr>
      <% else %>
        <tr> <th> Students </th> <th> Tutors </th> <th> Admin</th></tr>
        <tr>
          <td>
            <%= link_to t('shared.header.login'), new_student_session_path %>
            <%= '|' %>
            <%= link_to t('shared.header.sign_up'), new_student_registration_path %>
          </td>
          <td>
            <%= link_to t('shared.header.login'), new_tutor_session_path %>
            <%= '|' %>
            <%= link_to t('shared.header.sign_up'), new_tutor_registration_path %>
          </td>
          <td>
            <%= link_to t('shared.header.login'), new_admin_session_path %>
            <%= '|' %>
            <%= link_to t('shared.header.sign_up'), new_admin_registration_path %>
          </td>
        </tr>
      <% end %>
    </table>
  </nav>

  <h3> <%= t('home.home.welcome') %> </h3>

  <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
  <% end %>
</header>
