<header>
  <!-- Add BeeSmart Logo -->
  <nav id="navbar">
    <table align="center" >
      <tr> <th> Students </th> <th> Tutors </th> </tr>
      <tr>
        <td>
        <% if student_signed_in? %>
          <%= "#{current_student.email} |" %>
          <%= link_to t('.profile'), edit_student_registration_path %>
          <%= '|' %>
          <%= link_to t('.logout'), destroy_student_session_path, method: 'delete' %>
        <% else %>
          <%= link_to t('.login'), new_student_session_path %>
          <%= '|' %>
          <%= link_to t('.sign_up'), new_student_registration_path %>
        <% end %>
        </td>
        <td>
          <% if tutor_signed_in? %>
            <%= "#{current_tutor.email} |" %>
            <%= link_to t('.profile'), edit_tutor_registration_path %>
            <%= '|' %>
            <%= link_to t('.logout'), destroy_tutor_session_path, method: 'delete' %>
          <% else %>
            <%= link_to t('.login'), new_tutor_session_path %>
            <%= '|' %>
            <%= link_to t('.sign_up'), new_tutor_registration_path %>
          <% end %>
        </td>
      </tr>
    </table>
  </nav>

  <h3> Language learning, done right. </h3>

  <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
  <% end %>
</header>
