<style>
.table1{
  border-style: solid;
  padding-right: 400px;
  padding-left: 400px;


  }
.field{
  position: center;
}
</style>
<% if !@submission.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @submission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<div class="table1" >

   <%= form_for @submission, html: { multipart: true } do |f| %>

   <div class="field">
     <%= f.label :description %>
     <%= f.text_field :description %>
   </div>
   <div class="field">
     <%= f.label :attachment2 %>
     <%= f.file_field :attachment2 %>
   </div>
    <% if  student_signed_in? %>
        <div class="field">
          <%= f.label :student %>
          <%= f.text_field :student, value: current_student.id, disabled: true%>
        </div>
        <div class="field">
          <%= f.label :tutor %>
          <%= f.text_field :tutor, value: current_student.tutor_id, disabled: true %>
        </div>
    <% elsif tutor_signed_in? %>
    <div class="field">
      <%= f.label :student %>
        <% @students = Student.where(tutor_id: current_tutor.id, tutor_confirmed: true)
           @students.each do |student| %>
        <li><h6><%= student["forename"] %> &nbsp; <%= student["surname"] %>
          <%=button_to "Choose", {action: "submission", params: {:stud => student['id']}}, {class: 'btn'} %>
        </h6></li>
        <%  end %>
    </div>
    <div class="field">
        <%= f.label :tutor %>
        <%= f.text_field :tutor, value: current_tutor.id, disabled: true %>
    </div>
    <% else %>
    <% end %>


    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>


</div>
