<!DOCTYPE html>
<html>
<title>profile.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<button class = "btn edit-profile">  <%= link_to "Edit profile", :edit_student_registration, style: "color:orange" %></button>
<!-- Page Container -->
<div class="profile-content profile-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="profile-row-padding">

    <!-- Left Column -->
    <div class="profile-third">

      <div class="profile-white profile-text-grey profile-card-4">
        <div class="profile-display-container">
          <%= image_tag(current_student.image_url, style: "max-width:100%; max-height:100%") %>
          <div class="profile-display-bottomleft profile-container profile-text-black">
            <h2> <%= current_student.forename + " " + current_student.surname %> </h2>
          </div>
        </div>
        <hr>
        <div class="profile-display-container">
          <p><i class="fa fa-briefcase fa-fw profile-margin-right profile-large profile-text-orange"></i><%= current_student.job%></p>
          <p><i class="fa fa-home fa-fw profile-margin-right profile-large profile-text-orange"></i><%= current_student.address + ", " + current_student.country %> </p>
          <p><i class="fa fa-envelope fa-fw profile-margin-right profile-large profile-text-orange"></i> <%= current_student.email %> </p>
          <p><i class="fa fa-phone fa-fw profile-margin-right profile-large profile-text-orange"></i> <%= current_student.phone %> </p>
          <br/>
          <div class="profile-display-bottomleft profile-container">

          </div>
        </div>
        <hr>
        <div class="profile-container">
          <p class="profile-large"><b><i class="fa fa-asterisk fa-fw profile-margin-right profile-text-orange"></i><%= t('.progress') %> </b><%= current_student.language%></p>
          <p>In order to receive an improvement report as a </br> graph from your tutor you should send a request </p>
          <div>
            <button class = "btn"><a href="improvements">Your improvement graph</a></button>

          </div>



        </div>
      </div><br>


      <div class="profile-card profile-round profile-white profile-center">
        <div class="profile-container">
          <p>Upcoming Tutor Meeting:</p>
          <img src= "<%=asset_path( 'forest.jpg' )%>" alt="Picture of the place of the meeting" style="width:100%;">
          <p><strong>My Tutor</strong></p>
          <p>What time </p>
          <p><button class="profile-button profile-block profile-theme-l4">Info</button></p>
        </div>
      </div>
      <br>

 

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="profile-twothird">

      <div class="profile-container profile-card profile-white profile-margin-bottom">
        <h2 class="profile-text-orange profile-padding-16"><i class="fa fa-suitcase fa-fw profile-margin-right profile-xxlarge profile-text-orange"></i><%= t('.report') %></h2>
        <div class="profile-container">
          <h5 class="profile-opacity"><b><%= t('.submissions') %></b></h5>
          <div>
            <button class = "btn"><a href="submissions">View Submissions</a></button>
          </div>
          <p>><%= t('.description') %></p>
          <p>><%= t('.desc') %></p>
          <hr>
        </div>


      </div>

      <div class="profile-container profile-card profile-white">
        <h2 class="profile-text-orange profile-padding-16"><i class="fa fa-certificate fa-fw profile-margin-right profile-xxlarge profile-text-orange"></i> <%= t('.quiz') %></h2>
        <div class="profile-container">


        <div class="profile-container">
          <h5 class="profile-opacity"><b><%= t('.quizzes') %></b></h5>
          <div>
            <button class = "btn"><a href="quizzes">View Quizzes</a></button>
          </div>
          <p></p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>



</body>
</html>
